# FiscalAPI Configuration
FISCALAPI_URL=https://test.fiscalapi.com
FISCALAPI_KEY=your_api_key_here
FISCALAPI_TENANT=your_tenant_id_here
FISCALAPI_DEBUG=false
FISCALAPI_VERIFY_SSL=false
FISCALAPI_API_VERSION=v4
FISCALAPI_TIMEZONE=America/Mexico_City
